/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row>.col {
    max-width: 100%;
    flex-grow: 1;
}

.row>[class^='col'] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}